.health-hero {
  background-image: url("../images/health/hero.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  padding: 145px 0 0 15%;
  display: flex;
  height: 824px;
}

@media (max-width: 1550px) {
  .health-hero {
    padding-left: 10%;
  }
}

@media (max-width: 1300px) {
  .health-hero {
    padding-left: 5%;
  }
}

@media (max-width: 875px) {
  .health-hero {
    background-image: url("../images/health/hero-tablet.png");
    background-position: bottom;
    background-size: cover;
    height: 1052px;

    &__heading {
      &--main {
        margin-bottom: 20px;
        font-size: 35px;
      }
    }

    &__paragraph {
      font-size: 16px;
    }

    &__content {
      width: 90%;
      padding-top: 30px;
    }
  }
}

@media (max-width: 600px) {
  .health-hero {
    height: 727px;
    padding-top: 100px;
    padding-right: 5%;
  }
}
