.contact-hero {
  background-image: url("../images/home/hero-background.png");
  background-position: center bottom;
  background-size: cover;
  padding: 151px 15% 0 15%;
  height: 473px;
  text-align: center;

  &__heading {
    font-family: "Montserrat-SemiBold", sans-serif;
    font-size: 18px;
    color: #00ffe0;
    margin: 0;

    &--main {
      font-family: "Gotham-Bold", sans-serif;
      font-size: 35px;
      color: $white-color;
      margin-bottom: 10px;
    }
  }

  &__paragraph {
    color: $white-color;
    width: 60%;
    margin: auto;
    margin-bottom: 49px;
  }
}

@media (max-width: 1200px) {
  .contact-hero {
    &__paragraph {
      width: 80%;
    }
  }
}

@media (max-width: 875px) {
  .contact-hero {
    background-image: url("../images/contact/hero-background.png");
    padding-left: 0;
    padding-right: 0;

    &__paragraph {
      margin-bottom: 0;
    }
  }
}

@media (max-width: 600px) {
  .contact-hero {
    height: 470px;
    padding-top: 100px;

    &__heading {
      font-size: 16px;
      margin-bottom: 10px;

      &--main {
        font-size: 27px;
        margin-bottom: 18px;
      }
    }

    &__paragraph {
      font-size: 14px;
      margin-bottom: 25px;
      width: 90%;
    }
  }
}
.template-contact {
  .header {
    &__contact {
      background: rgba(0, 255, 224, 0.3);
      border-bottom: 4px solid #00ffe0;
    }
  }
}
