.page-contact-data {
  .footer {
    background-color: $white-color;
  }
}

.contact-form {
  padding: 0 15%;
  text-align: center;
  margin-top: -151px;
  margin-bottom: 131px;

  &__navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 75px;
  }

  &__item {
    background: $white-color;
    box-shadow: 0 20px 50px -10px rgba(8, 40, 64, 0.05);
    padding: 58px 0 37px 0;
    width: 408px;
    max-width: 100%;

    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  &__image {
    margin-bottom: 14.65px;
  }

  &__title {
    font-family: "Gotham-Bold", sans-serif;
    color: $black-color;
  }

  &__mail {
    color: #726e6e;
    font-size: 15px;

    & a {
      color: #726e6e;
    }

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  &__content {
    color: #726e6e;
  }

  &__main {
    display: flex;
  }

  &__holder {
    padding: 36px 70px 21px 69px;
    width: 45%;
    background-color: $white-color;

    &--map {
      width: 60%;
      height: 670px;
    }
  }

  &__map {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__heading {
    font-family: "Gotham-Bold", sans-serif;
    color: $black-color;
    font-size: 24px;
    margin-bottom: 25px;
  }
}

.form {
  text-align: left;

  &__holder {
    display: flex;
    flex-direction: column;
    margin-bottom: 23px;
    width: 100%;

    & > br {
      display: none;
    }

    &--last {
      margin-bottom: 54px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    // .wpcf7-spinner {
    //   display: none;
    // }
  }

  &__label {
    margin-bottom: 10px;
    color: $black-color;
    text-align: left;
  }

  &__input {
    background-color: #f9f9f9;
    border: none;
    height: 35px;
    padding-left: 15px;
    width: 100%;

    &:focus {
      outline: none;
      border: 1px solid rgba(0, 255, 224, 0.3);
    }
  }

  &__textarea {
    height: 163px;
    background-color: #f9f9f9;
    border: none;
    padding: 10px 15px;
    width: 100%;

    &:focus {
      outline: none;
      resize: none;
      border: 1px solid rgba(0, 255, 224, 0.3);
    }
  }

  &__button {
    font-family: "Montserrat-SemiBold", sans-serif;
    height: 48px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: #00bca5;
    background-color: rgba(0, 255, 224, 0.3);
    border-radius: 5px;
  }
}

@media (max-width: 1550px) {
  .contact-form {
    padding: 0 10%;
  }
}

@media (max-width: 1300px) {
  .contact-form {
    padding: 0 5%;
  }
}

@media (max-width: 1100px) {
  .contact-form {
    margin-top: -90px;

    &__navigation {
      flex-direction: column;
      align-items: center;
    }

    &__item {
      margin: 0;

      &:not(:last-child) {
        margin: 0 0 50px 0;
      }
    }

    &__main {
      flex-direction: column;
      align-items: center;
    }

    &__holder {
      width: 80%;

      &--map {
        width: 80%;
      }
    }
  }
}

@media (max-width: 875px) {
  .contact-form {
    margin-top: -130px;
    margin-bottom: 173px;
    padding: 0;
  }
}

@media (max-width: 600px) {
  .contact-form {
    margin-top: -150px;
    margin-bottom: 88px;

    &__navigation {
      margin-bottom: 56px;
    }

    &__item {
      width: 90%;
    }

    &__title {
      font-size: 24px;
    }

    &__holder {
      width: 90%;
      margin-bottom: 25px;
      padding: 24px 24px 0 26px;

      &--map {
        height: 357px;
        width: 100%;
      }
    }
  }
}
