.latest-reviews {
  padding: 106px 0 108px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  .kokoska {
    width: 100% !important;

    &__holder {
      width: 70%;
    }
  }

  &__heading {
    font-family: "Montserrat-SemiBold", sans-serif;
    font-size: 18px;
    color: #00bca5;
    margin: 0;
    margin-bottom: 8px;

    &--main {
      font-family: "Gotham-Bold", sans-serif;
      font-size: 35px;
      color: $black-color;
      margin-bottom: 12px;
    }
  }

  &__paragraph {
    color: #726e6e;
    margin-bottom: 28px;
  }

  &__navigation {
    display: flex;
    // width: 70%;
    // margin: auto;
  }

  &__item {
    background-color: $white-color;
    box-shadow: 0 20px 50px -10px rgba(8, 40, 64, 0.05);
    padding: 41px 39px 40px 43px;
    text-align: start;
    max-width: 100%;
    // min-height: 347px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    &:first-child {
      margin-right: 0 !important;
    }

    &:nth-child(2) {
      margin: 0 30px;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 23.5px;
  }

  &__avatar {
    margin-right: 20.5px;
  }

  &__title {
    font-family: "Gotham-Bold", sans-serif;
    color: $black-color;
    font-size: 24px;
    margin: 0;
  }

  &__text {
    font-family: "Montserrat-Italic", sans-serif;
    font-size: 18px;
    color: #726e6e;
    margin-bottom: 19px;
  }

  &__button {
    font-family: "Montserrat-SemiBold", sans-serif;
    color: #00bca5;
    width: 259px;
    height: 48px;
    background: rgba(0, 255, 224, 0.3);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      color: #00bca5;
    }
  }

  &--button {
    &__holder {
      margin-top: 59px;
      display: flex;
      justify-content: center;
      position: relative;

      .swiper-button-prev,
      .swiper-button-next {
        width: 48px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0, 255, 224, 1);
        border-radius: 5px;
        top: 22px;

        &::after {
          display: none;
        }
      }

      .swiper-button-prev {
        left: -65px;
      }

      .swiper-button-next {
        right: -65px;
      }

      &--mobile {
        display: none;
      }
    }
  }
}

.page-health-wellness-data,
.page-pharmacy-data,
.about {
  .latest-reviews {
    background: linear-gradient(107.56deg, #00ffe0 0%, #0092c1 100%);

    &__button {
      color: $white-color;
    }

    &__heading {
      color: #00ffe0;

      &--main {
        color: $white-color;
      }
    }

    &__paragraph {
      color: $white-color;
    }
  }
}

@media (max-width: 1550px) {
  .latest-reviews {
    .kokoska {
      &__holder {
        width: 80%;
      }
    }

    &__navigation {
      width: 80%;
    }
  }
}

@media (max-width: 1350px) {
  .latest-reviews {
    &__navigation {
      width: 95%;
    }

    .mySwiper {
      width: 100% !important;
    }

    .kokoska {
      &__holder {
        width: 95%;
      }
    }
  }
}

@media (max-width: 1200px) {
  .latest-reviews {
    overflow: hidden;

    .swiper-backface-hidden .swiper-slide {
      &:not(:last-child) {
        margin-right: 30px !important;
      }

      &:last-child {
        margin-left: 0px !important;
      }
    }

    &__item {
      width: 431px;

      &:nth-child(2) {
        margin: 0;
      }
    }
  }
}

@media (max-width: 875px) {
  .latest-reviews {
    padding-bottom: 79px;
    padding-top: 75px;

    .mySwiper {
      padding-right: 5%;
    }

    &__holder {
      display: flex;
      flex-direction: column;
      padding-left: 10%;
      padding-right: 35%;
      text-align: left;
    }

    &__paragraph {
      margin-bottom: 0;
    }

    &--button {
      &__holder {
        display: none;

        &--mobile {
          display: block;
          margin: 40px 0 57px 0;
        }
      }
    }

    &__navigation {
      width: fit-content;
    }

    .kokoska {
      &__holder {
        width: 90%;
        margin-left: auto;
      }
    }
  }

  .page-health-wellness-data,
  .page-pharmacy-data,
  .about {
    .latest-reviews {
      background: linear-gradient(180deg, #0092c1 0%, #00ffe0 100%);
    }
  }
}

@media (max-width: 600px) {
  .latest-reviews {
    padding: 34px 0 51px 0;

    //     .swiper-backface-hidden .swiper-slide {
    //       &:first-child {
    //         margin-right: 0 !important;
    //       }
    //     }

    .kokoska {
      &__holder {
        width: 90%;
        margin: auto;
      }
    }

    &__holder {
      padding-left: 5%;
      padding-right: 5%;
    }

    &__heading {
      font-size: 14px;

      &--main {
        font-size: 27px;
        margin-bottom: 20px;
      }
    }

    &__paragraph {
      font-size: 14px;
    }

    &--button {
      &__holder {
        &--mobile {
          margin: 25px 0 45px 0;
        }
      }
    }

    &__button {
      width: 100%;
      height: 42px;
    }

    //     &__navigation {
    //       width: 90%;
    //       margin: auto;
    //     }

    &__item {
      padding: 35px 27px 33px 39px;
      width: unset;
      height: auto;

      //       &:nth-child(2) {
      //         margin: 0 25px;
      //       }
    }

    &__avatar {
      width: 43px;
      height: 43px;
    }

    &__title {
      font-size: 18px;
    }

    &__text {
      font-size: 15px;
    }

    //     .mySwiper {
    //       padding-right: 0;
    //       overflow-x: scroll;
    //     }
  }
}
