.latest-blog-page {
  padding: 76px 0 70px 0;
  background: linear-gradient(107.56deg, #00ffe0 0%, #0092c1 100%);
  display: flex;
  flex-direction: column;
  text-align: center;

  &__heading {
    font-family: "Montserrat-SemiBold", sans-serif;
    font-size: 18px;
    color: #00ffe0;
    margin: 0;

    &--main {
      font-family: "Gotham-Bold", sans-serif;
      font-size: 35px;
      color: $white-color;
      margin-bottom: 24px;
    }
  }

  &__text {
    color: $white-color;
    width: 40%;
    margin: auto;
    margin-bottom: 40px;
  }

  &__navigation {
    display: flex;
    width: 70%;
    margin: auto;
  }

  &__item {
    background-color: $white-color;
    max-width: 100%;
    box-shadow: 0 20px 50px -10px rgba(8, 40, 64, 0.05);
    width: 100%;
    height: auto;

    &:nth-child(2) {
      margin: 0 30px;
    }
  }

  &__picture {
    display: flex;
  }

  &__image {
    width: 100%;
    max-width: 100%;
    height: 176px;
    object-fit: cover;
  }

  &__top {
    padding-left: 42px;
  }

  &__content {
    padding-top: 27px;
    position: relative;
    text-align: left;
  }

  &__link {
    position: absolute;
    cursor: pointer;
    right: 40px;
    top: -23.39px;
  }

  &__title {
    font-family: "Gotham-Bold", sans-serif;
    color: $black-color;
    font-size: 24px;
    margin: 0 0 6px 0;

    &:hover {
      color: $black-color;
    }
  }

  &__paragraph {
    font-family: "Montserrat-Italic", sans-serif;
    font-size: 15px;
    color: #726e6e;
    margin-bottom: 19px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    padding: 17px 41px 22px 42px;
    border-top: 1px solid #e8e8e8;
  }

  &__date,
  &__author {
    margin: 0;
    color: $button-background;
    text-transform: capitalize;
  }

  &--button {
    &__holder {
      margin-top: 53px;
      display: flex;
      justify-content: center;

      &--mobile {
        display: none;
      }
    }
  }

  &__button {
    font-family: "Montserrat-SemiBold", sans-serif;
    width: 259px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 255, 224, 0.3);
    color: $white-color;
    border-radius: 5px;
    transition: 0.4s ease-in-out;

    &:hover {
      background-color: $button-background;
      color: $black-color;
    }
  }
}

@media (max-width: 1550px) {
  .latest-blog-page {
    &__navigation {
      width: 80%;
    }
  }
}

@media (max-width: 1350px) {
  .latest-blog-page {
    &__navigation {
      width: 95%;
    }

    &__text {
      width: 70%;
    }
  }
}

@media (max-width: 1200px) {
  .swiper-backface-hidden .swiper-slide {
    margin-right: 0 !important;

    &:last-child {
      margin-left: 30px !important;
    }
  }

  .latest-blog-page {
    overflow: hidden;
    background: linear-gradient(180deg, #0092c1 0%, #00ffe0 100%);

    &__item {
      width: 431px;
    }
  }
}

@media (max-width: 875px) {
  .latest-blog-page {
    .mySwiper {
      padding-right: 5%;
      width: 100%;
    }

    &__paragraph {
      padding-right: 5%;
    }

    &__holder {
      display: flex;
      flex-direction: column;
      padding-left: 10%;
      padding-right: 35%;
      text-align: left;
    }

    &__navigation {
      width: 80%;
    }

    &__text {
      margin: 0;
      width: fit-content;
    }

    &--button {
      &__holder {
        display: none;

        &--mobile {
          display: block;
          margin: 40px 0 61px 0;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .latest-blog-page {
    padding: 41px 0 53px 0;

    &__holder {
      padding-left: 5%;
      padding-right: 5%;
    }

    &__heading {
      font-size: 14px;
      margin-bottom: 10px;

      &--main {
        font-size: 27px;
        margin-bottom: 20px;
      }
    }

    &__text {
      font-size: 14px;
    }

    &--button {
      &__holder {
        &--mobile {
          margin: 25px 0 46px 0;
        }
      }
    }

    &__button {
      width: 100%;
      height: 42px;
    }

    &__navigation {
      width: 89%;
    }

    &__item {
      //       width: 314px;
      // height: 335px;

      &:nth-child(2) {
        margin: 0 25px;
      }
    }

    &__top {
      padding-left: 28px;
    }

    &__image {
      height: 135px;
    }

    &__content {
      padding-top: 21px;
    }

    &__title {
      font-size: 18px;
    }

    &__paragraph {
      margin-top: 8px;
      margin-bottom: 12px;
      font-size: 13px;
    }

    &__bottom {
      padding: 16px 28px 16px 28px;
    }

    &__author,
    &__date {
      font-size: 14px;
    }

    .mySwiper {
      padding-right: 0;
    }
  }
}
