.pharmacy-hero {
  background-image: url("../images/pharmacy/hero.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  padding: 145px 0 0 15%;
  display: flex;
  height: 824px;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 35%;
    padding-top: 95px;
  }

  &__heading {
    font-family: "Montserrat-SemiBold", sans-serif;
    font-size: 18px;
    color: $button-background;
    margin: 0;

    &--main {
      font-family: "Gotham-Bold", sans-serif;
      font-size: 40px;
      color: $white-color;
      margin-bottom: 30px;
    }
  }

  &__paragraph {
    margin-bottom: 40px;
    color: $white-color;
    font-size: 17px;
  }

  &__holder {
    display: flex;
  }

  &__button {
    font-family: "Montserrat-SemiBold", sans-serif;
    background: rgba(0, 255, 224, 0.3);
    color: $white-color;
    width: 251px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: 0.4s ease-in-out;

    &:hover {
      background-color: $button-background;
      color: $black-color;
    }
  }
}

@media (max-width: 1550px) {
  .pharmacy-hero {
    padding-left: 10%;

    &__content {
      width: 40%;
    }
  }
}

@media (max-width: 1300px) {
  .pharmacy-hero {
    padding-left: 5%;

    &__content {
      width: 50%;
    }
  }
}

@media (max-width: 1100px) {
  .pharmacy-hero {
    &__content {
      width: 60%;
    }
  }
}

@media (max-width: 875px) {
  .pharmacy-hero {
    background-image: url("../images/pharmacy/hero-tablet.png");
    background-position: bottom;
    background-size: cover;
    height: 1049px;

    &__heading {
      &--main {
        margin-bottom: 20px;
        font-size: 35px;
      }
    }

    &__paragraph {
      font-size: 16px;
    }

    &__content {
      width: 90%;
      padding-top: 30px;
    }
  }
}

@media (max-width: 600px) {
  .pharmacy-hero {
    height: 757px;
    padding-top: 100px;
    padding-right: 5%;

    &__content {
      padding-top: 0;
      width: 100%;
    }

    &__heading {
      font-size: 14px;
      margin-bottom: 10px;

      &--main {
        font-size: 27px;
        margin-bottom: 18px;
      }
    }

    &__paragraph {
      font-size: 14px;
      margin-bottom: 25px;
      width: 100%;
    }

    &__button {
      width: 100%;
      height: 42px;
    }
  }
}
