.pharmacy-health {
  text-align: center;

  &__navigation {
    padding: 108px 15% 161px 15%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px 34px;
  }

  &__item {
    background-color: $white-color;
    height: fit-content;

    &--top {
      display: flex;
    }

    &--holder {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      padding: 0 27px;
    }

    &--bottom {
      display: none;
      border-top: 1px solid #c4c4c4;
      padding: 23px 29px 25px 40px;
      text-align: left;
      transition: 0.5s ease-in-out;

      &.active {
        display: block;
      }
    }
  }

  &__title {
    font-family: "Gotham-Bold", sans-serif;
    color: $black-color;
    font-size: 24px;
    text-align: left;
    width: 80%;
  }

  &__paragraph {
    margin: 0;
    color: #726e6e;
  }

  &__arrow {
    transition: 0.5s ease-out;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &.active {
      transform: translate(-50%, -50%) rotate(180deg);

      path {
        stroke: $white-color;
      }
    }
  }

  &__button {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(246, 249, 250, 1);
    cursor: pointer;
    position: relative;

    &.active {
      background: linear-gradient(114.03deg, #00ffe0 -2.88%, #00bca5 100%);
    }
  }
}

@media (max-width: 1550px) {
  .pharmacy-health {
    &__navigation {
      padding-left: 10%;
      padding-right: 10%;
    }
  }
}

@media (max-width: 1300px) {
  .pharmacy-health {
    &__navigation {
      padding-left: 5%;
      padding-right: 5%;
    }
  }
}

@media (max-width: 1150px) {
  .pharmacy-health {
    &__navigation {
      grid-template-columns: 1fr;
    }
  }
}

@media (max-width: 875px) {
  .pharmacy-health {
    padding-top: 64px;

    &__navigation {
      padding-top: 82px;
      padding-bottom: 87px;
    }
  }
}

@media (max-width: 600px) {
  .pharmacy-health {
    padding-top: 36px;

    &__heading {
      font-size: 14px;
      margin-bottom: 10px;

      &--main {
        font-size: 27px;
        margin-bottom: 18px;
      }
    }

    &__title {
      font-size: 18px;
    }

    &__navigation {
      padding-left: 0;
      padding-top: 87px;
      padding-bottom: 77px;
    }

    &__item {
      &--holder {
        padding-left: 14px;
        padding-right: 22px;
      }
    }
  }
}
