.hero {
  background-image: url("../images/home/hero-background.png");
  background-position: center bottom;
  background-size: cover;
  padding: 145px 9% 126px 15%;
  display: flex;
  height: 950.5px;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 6%;
    width: 40%;
  }

  &__pictures {
    width: 60%;
    display: flex;
    align-items: center;
  }

  &__heading {
    font-family: "Montserrat-SemiBold", sans-serif;
    font-size: 18px;
    color: $button-background;
    margin: 0;

    &--main {
      font-family: "Gotham-Bold", sans-serif;
      font-size: 40px;
      color: $white-color;
      margin-bottom: 30px;
      white-space: nowrap;
    }
  }

  &__paragraph {
    margin-bottom: 40px;
    color: $white-color;
    font-size: 17px;
  }

  &__holder {
    display: flex;
  }

  &__button {
    font-family: "Montserrat-SemiBold", sans-serif;
    background-color: $button-background;
    color: $black-color;
    width: 171px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

    &:hover {
      color: $black-color;
    }

    &--sub {
      width: 298px;
      height: 48px;
      color: $white-color;
      background: rgba(0, 255, 224, 0.3);
      margin-left: 19px;
      transition: 0.4s ease-in-out;

      &:hover {
        background-color: $button-background;
        color: $black-color;
      }
    }
  }

  &__image {
    max-width: 100%;
  }
}

@media (max-width: 1550px) {
  .hero {
    padding-left: 10%;
    padding-right: 5%;
  }
}

@media (max-width: 1300px) {
  .hero {
    padding-left: 5%;
  }
}

@media (max-width: 1150px) {
  .hero {
    background-image: url("../images/home/hero-tablet.png");
    background-position: center bottom;
    background-size: cover;
    flex-direction: column;
    height: fit-content;
    padding-bottom: 67px;

    &__content {
      margin-right: 0;
      width: 100%;
      margin: 50px 0;
    }

    &__pictures {
      width: 70%;
      margin: auto;
    }
  }
}

@media (max-width: 875px) {
  .hero {
    &__pictures {
      width: 80%;
    }

    &__content {
      padding-right: 15%;
    }
  }
}

@media (max-width: 600px) {
  .hero {
    padding-top: 80px;
    padding-bottom: 45px;

    &__heading {
      font-size: 14px;
      margin-bottom: 10px;

      &--main {
        font-size: 27px;
        margin-bottom: 18px;
      }
    }

    &__paragraph {
      font-size: 14px;
      margin-bottom: 25px;
    }

    &__button {
      height: 37px;
      font-size: 14px;

      &--sub {
        margin-left: 16.23px;
      }
    }

    &__content {
      margin: 25px 0;
      padding-right: 0;
    }

    &__pictures {
      width: 100%;
    }
  }
}
