.home-help {
  background: linear-gradient(107.56deg, #00ffe0 0%, #0092c1 100%);
  display: flex;

  &__picture {
    width: 60%;
  }

  &__img {
    max-width: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-right: 15%;
    padding-left: 8%;
  }

  &__heading {
    font-family: "Montserrat-SemiBold", sans-serif;
    font-size: 18px;
    color: $button-background;
    margin: 0;

    &--main {
      font-family: "Gotham-Bold", sans-serif;
      font-size: 35px;
      color: $white-color;
      margin-bottom: 15px;
    }
  }

  &__paragraph {
    color: $white-color;
    margin-bottom: 37px;
  }

  &__button {
    font-family: "Montserrat-SemiBold", sans-serif;
    width: 298px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 255, 224, 0.3);
    color: $white-color;
    border-radius: 5px;
    transition: 0.4s ease-in-out;

    &:hover {
      background-color: $button-background;
      color: $black-color;
    }
  }
}

@media (max-width: 1550px) {
  .home-help {
    &__content {
      padding-right: 10%;
    }
  }
}

@media (max-width: 1300px) {
  .home-help {
    &__content {
      padding-right: 5%;
    }
  }
}

@media (max-width: 1200px) {
  .home-help {
    flex-direction: column-reverse;
    background: linear-gradient(180deg, #0092c1 0%, #00ffe0 100%);

    &__content {
      width: 80%;
      margin-top: 80px;
      padding-right: 0;
    }

    &__picture {
      width: 80%;
    }
  }
}

@media (max-width: 875px) {
  .home-help {
    &__picture {
      width: 90%;
    }

    &__content {
      padding-left: 10%;
      width: 85%;
    }
  }
}

@media (max-width: 600px) {
  .home-help {
    &__content {
      margin-top: 40px;
      padding-left: 5%;
      padding-right: 5%;
      width: 100%;
    }

    &__heading {
      font-size: 14px;
      margin-bottom: 10px;

      &--main {
        font-size: 27px;
      }
    }

    &__paragraph {
      font-size: 14px;
      margin-bottom: 35px;
    }

    &__button {
      width: 100%;
      height: 42px;
    }

    &__picture {
      width: 100%;
    }
  }
}
