.home-map {
  margin-top: 213.5px;
  margin-bottom: 186px;
  padding: 0 15% 0 15%;
  border-top: 1px solid $button-background;

  &__holder {
    margin-top: -181px;
    display: flex;

    &--map {
      position: relative;
      width: 100%;
    }
  }

  &__navigation {
    width: 40%;
    margin-right: 6%;
  }

  &__item {
    background-color: $white-color;
    box-shadow: 0 20px 50px rgba(229, 237, 239, 0.77);
    padding: 38px 0 0 49px;
    position: relative;

    &:not(:last-child) {
      margin-bottom: 48px;
    }
  }

  &__hr {
    display: none;
  }

  &__heading {
    font-family: "Gotham-Bold", sans-serif;
    font-size: 24px;
    color: $black-color;
    margin-bottom: 15px;

    &--main {
      font-size: 35px;
      margin-bottom: 28px;
    }
  }

  &__paragraph {
    margin-bottom: 26px;
    padding-right: 28px;
    color: #726e6e;

    &--sub {
      margin-bottom: 31px;
      padding-right: 0;
    }
  }

  &__image {
    position: absolute;
    bottom: 24px;
    left: -24px;
  }

  &__button {
    background: linear-gradient(90.25deg, #00ffe0 -7.55%, #00bca5 106.31%);
    color: $white-color;
    height: 48px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      color: $white-color;
    }
  }

  &__content {
    width: 60%;
    padding-top: 127px;
  }

  &__map {
    max-width: 100%;
    width: 100%;
  }

  &__location {
    width: 375px;
    height: 128px;
    position: absolute;
    right: 0;
    bottom: -64px;
    display: flex;
    align-items: center;
    background-color: $white-color;

    &--holder {
      padding: 0 36px 0 39px;
      height: 100%;
      display: flex;
      align-items: center;
      border-right: 1px solid #d5d5d5;
    }

    &--sub {
      padding: 0 29px 0 36px;
      height: 100%;
      display: flex;
      align-items: center;

      & > p {
        margin: 0;
        color: #082840;
        font-size: 18px;
      }
    }
  }
}

@media (max-width: 1550px) {
  .home-map {
    padding-left: 10%;
    padding-right: 5%;
  }
}

@media (max-width: 1300px) {
  .home-map {
    padding-left: 5%;
  }
}

@media (max-width: 1100px) {
  .home-map {
    &__holder {
      flex-direction: column;
    }

    &__content {
      width: 75%;
      margin: auto;
    }

    &__navigation {
      width: 55%;
      margin: auto;
    }
  }
}

@media (max-width: 875px) {
  .home-map {
    margin-bottom: 152px;
    padding: 0;

    &__heading {
      &--main {
        margin-bottom: 0;
        padding-left: 10%;
      }
    }

    &__hr {
      display: block;
      margin: 14px 0;
      background: #00ffe0;
    }

    &__navigation {
      width: 70%;
      margin: auto;
    }

    &__content {
      width: 100%;
      padding-top: 56px;
    }

    &__paragraph {
      &--sub {
        padding-right: 5%;
        padding-left: 10%;
      }
    }

    &__location {
      width: 363px;
      height: 124px;
    }
  }
}

@media (max-width: 600px) {
  .home-map {
    margin-bottom: 97px;

    &__navigation {
      width: 90%;
      margin-left: auto;
      margin-right: 0;
    }

    &__holder {
      margin-top: -165px;
    }

    &__location {
      width: 295px;
      height: 95px;
      justify-content: flex-start;
      bottom: -46px;

      &--holder {
        padding-right: 25px;
        padding-left: 31px;
      }

      &--sub {
        padding: 0;
        padding-left: 25px;
      }

      & p {
        font-size: 16px;
      }
    }

    &__heading {
      font-size: 18px;

      &--main {
        font-size: 27px;
        padding-left: 5%;
      }
    }

    &__paragraph {
      font-size: 14px;
      margin-bottom: 30px;
      &--sub {
        padding-left: 5%;
        margin-bottom: 36px;
      }
    }

    &__content {
      width: 100%;
      padding-top: 56px;
    }

    &__holder {
      &--map {
        width: 100%;
        margin: auto;
      }
    }

    &__marker {
      width: 24px;
      height: 34px;
    }

    &__map {
      width: 100%;
    }
  }
}

@media (max-width: 410px) {
  .home-map {
    &__holder {
      margin-top: -190px;
    }
  }
}
