.default-page {
  &__content {
    padding: 0 15%;

    h2 {
      font-family: "Gotham-Bold", sans-serif;
      color: #082840;
      font-size: 24px;
    }

    img {
      width: 100%;
      margin: 25px 0;
    }

    p {
      color: #726e6e;
      font-size: 15px;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    ul {
      margin-bottom: 20px;
    }

    li {
      color: #7b7b7b;
      margin-bottom: 15px;

      &::before {
        content: url("../default/bullet.svg");
        margin-right: 12px;
      }
    }
  }
}

.default-content {
  background-image: url("../default/default-background.png");
  background-size: cover;
  background-position: center;
  padding: 136px 0 134px 15%;
  margin-top: 105px;

  &__heading {
    font-family: "Montserrat-SemiBold", sans-serif;
    font-size: 18px;
    color: $button-background;
    margin: 0;

    &--main {
      font-family: "Gotham-Bold", sans-serif;
      font-size: 40px;
      color: $white-color;
      margin-bottom: 25px;
    }
  }

  &__paragraph {
    margin-bottom: 30px;
    color: $white-color;
    width: 50%;
  }

  &__button {
    width: 298px;
    height: 48px;
    color: $white-color;
    background: rgba(0, 255, 224, 0.3);
    transition: 0.4s ease-in-out;

    &:hover {
      background-color: $button-background;
      color: $black-color;
    }
  }
}

.page-template-default {
  .footer {
    background-color: $white-color;
  }
}

@media (max-width: 1550px) {
  .default-page {
    &__content {
      padding: 0 10%;
    }
  }

  .default-content {
    padding-left: 10%;
  }
}

@media (max-width: 1300px) {
  .default-page {
    &__content {
      padding: 0 5%;
    }
  }

  .default-content {
    padding-left: 5%;
  }
}

@media (max-width: 875px) {
  .default-content {
    background-image: url("../default/tablet-default-background.png");
    background-size: cover;
    background-position: bottom;
    height: 967.31px;
    padding: 77px 0 0 5%;

    &__paragraph {
      width: 90%;
    }
  }
}

@media (max-width: 600px) {
  .default-content {
    height: 692px;
    padding-top: 40px;
    padding-right: 5%;

    &__heading {
      font-size: 14px;
      margin-bottom: 10px;

      &--main {
        font-size: 27px;
        margin-bottom: 25px;
      }
    }

    &__paragraph {
      font-size: 14px;
      width: 100%;
    }

    &__button {
      height: 42px;
      width: 100%;
    }
  }
}
