.default-page-hero {
  background-image: url("../default/default-hero.png");
  background-size: cover;
  background-position: bottom;
  height: 473px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 0 25%;
  margin-bottom: 115px;

  &__heading {
    font-family: "Gotham-Bold", sans-serif;
    font-size: 35px;
    color: $white-color;
    margin-bottom: 20px;
  }

  &__paragraph {
    color: $white-color;
  }
}

@media (max-width: 1300px) {
  .default-page-hero {
    padding: 0 15%;
  }
}

@media (max-width: 875px) {
  .default-page-hero {
    height: 510.51px;
    padding: 0 10%;
  }
}

@media (max-width: 600px) {
  .default-page-hero {
    justify-content: flex-start;
    padding-top: 120px;
    margin-bottom: 56px;
    height: 400px;

    &__heading {
      font-size: 27px;
    }

    &__paragraph {
      font-size: 14px;
    }
  }
}
