.about-hero {
  background-image: url("../images/about/hero.png");
  background-position: bottom;
  background-size: cover;
  padding: 145px 0 0 15%;
  display: flex;
  height: 824px;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 35%;
    padding-top: 95px;
  }

  &__pictures {
    width: 60%;
    display: flex;
    align-items: flex-end;
  }

  &__heading {
    font-family: "Montserrat-SemiBold", sans-serif;
    font-size: 18px;
    color: $button-background;
    margin: 0;

    &--main {
      font-family: "Gotham-Bold", sans-serif;
      font-size: 40px;
      color: $white-color;
      margin-bottom: 30px;
    }
  }

  &__paragraph {
    margin-bottom: 40px;
    color: $white-color;
    font-size: 17px;
  }

  &__holder {
    display: flex;
  }

  &__button {
    font-family: "Montserrat-SemiBold", sans-serif;
    background: rgba(0, 255, 224, 0.3);
    color: $white-color;
    width: 251px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: 0.4s ease-in-out;
    border: none;

    &:hover {
      background-color: $button-background;
      color: $black-color;
    }

    &:focus {
      outline: none;
    }
  }

  &__image {
    max-width: 100%;
    margin-bottom: -1px;
  }
}
.template-about {
  .header {
    &__about {
      background: rgba(0, 255, 224, 0.3);
      border-bottom: 4px solid #00ffe0;
    }
  }
}

@media (min-width: 1921px) {
  .about-hero {
    background-image: url("../images/about/hero-2k.png");
    background-position: bottom;
    background-size: cover;
  }
}

@media (max-width: 1550px) {
  .about-hero {
    padding-left: 10%;

    &__content {
      width: 40%;
    }
  }
}

@media (max-width: 1300px) {
  .about-hero {
    padding-left: 5%;

    &__content {
      margin-right: 0;
      // width: 45%;
    }
  }
}

@media (max-width: 875px) {
  .about-hero {
    background-image: url("../images/about/hero-tablet.png");
    background-position: bottom;
    background-size: cover;
    height: 1098.35px;

    &__heading {
      &--main {
        margin-bottom: 20px;
        font-size: 35px;
      }
    }

    &__paragraph {
      font-size: 16px;
    }

    &__content {
      width: 95%;
      padding-top: 20px;
    }
  }
}

@media (max-width: 600px) {
  .about-hero {
    height: 840px;
    padding-top: 80px;

    &__heading {
      font-size: 14px;
      margin-bottom: 10px;

      &--main {
        font-size: 27px;
        margin-bottom: 18px;
        white-space: unset;
      }
    }

    &__paragraph {
      font-size: 14px;
      margin-bottom: 25px;
    }

    &__button {
      height: 42px;
      font-size: 14px;
      width: 100%;
    }
  }
}
