.about-mission {
  padding-top: 67px;
  text-align: center;
  border-bottom: 1px solid $button-background;

  &__heading {
    font-family: "Montserrat-SemiBold", sans-serif;
    font-size: 18px;
    color: #00bca5;
    margin: 0;

    &--main {
      font-family: "Gotham-Bold", sans-serif;
      font-size: 35px;
      color: $black-color;
      margin-bottom: 30px;
    }
  }

  &__paragraph {
    width: 50%;
    margin: auto;
    color: #726e6e;
    margin-bottom: 35px;
  }

  &__holder {
    display: flex;
    justify-content: center;
  }

  &__button {
    color: #00bca5;
    font-family: "Montserrat-SemiBold", sans-serif;
    background: #acfbf2;
    border-radius: 5px;
    width: 298px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: -24px;

    &:hover {
      color: #00bca5;
    }
  }
}

@media (max-width: 1200px) {
  .about-mission {
    &__paragraph {
      width: 80%;
    }
  }
}

@media (max-width: 600px) {
  .about-mission {
    padding-top: 36px;

    &__heading {
      font-size: 14px;

      &--main {
        font-size: 27px;
      }
    }

    &__paragraph {
      font-size: 14px;
      margin-bottom: 25px;
      width: 90%;
    }

    &__button {
      width: 90%;
    }
  }
}
