.about-help {
  padding: 103px 15% 103px 10%;
  display: flex;

  &__picture {
    width: 60%;
  }

  &__img {
    max-width: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-left: 7%;
  }

  &__heading {
    font-family: "Montserrat-SemiBold", sans-serif;
    font-size: 18px;
    color: #00bca5;
    margin: 0;

    &--main {
      font-family: "Gotham-Bold", sans-serif;
      font-size: 35px;
      color: $black-color;
      margin-bottom: 17px;
      white-space: nowrap;

      & br {
        display: none;
      }
    }
  }

  &__navigation {
    margin-bottom: 34px;
  }

  &__item {
    display: flex;
    color: #7b7b7b;

    & > p {
      margin-bottom: 0;
      margin-left: 10px;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__button {
    font-family: "Montserrat-SemiBold", sans-serif;
    width: 298px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 255, 224, 0.3);
    color: #00bca5;
    border-radius: 5px;

    &:hover {
      color: #00bca5;
    }
  }
}

@media (max-width: 1550px) {
  .about-help {
    padding-right: 10%;

    &__content {
      padding-left: 4%;
    }
  }
}

@media (max-width: 1200px) {
  .about-help {
    padding-right: 5%;
    padding-left: 5%;
    flex-direction: column;
    align-items: flex-start;

    &__picture {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    &__content {
      padding-left: 0;
      margin-top: 60px;
      width: 80%;
    }
  }
}

@media (max-width: 600px) {
  .about-help {
    padding-top: 50px;
    padding-bottom: 47px;
    padding-right: 0;

    &__heading {
      font-size: 14px;
      margin-bottom: 10px;

      &--main {
        font-size: 27px;
        margin-bottom: 18px;
        white-space: unset;

        & br {
          display: block;
        }
      }
    }

    &__content {
      width: 95%;
    }

    &__button {
      width: 100%;
      height: 42px;
    }

    &__navigation {
      font-size: 14px;
    }
  }
}
