.footer {
  background-color: #f6f9fa;

  &__top {
    padding: 108px 15% 103px 15%;

    &--holder {
      display: flex;
      justify-content: space-between;
      margin-bottom: 81px;
    }

    &--links {
      display: flex;
      justify-content: space-between;
    }
  }

  &__location {
    color: #726e6e;
    font-size: 18px;
    text-align: right;
  }

  &__mobile {
    &--holder {
      display: none !important;
    }
  }

  &__navigation {
    display: flex;
    align-items: center;

    & div {
      display: flex;

      &:first-child {
        margin-right: 18px;
      }
    }

    &--link {
      text-transform: uppercase;
      color: $black-color;

      &:hover {
        color: $black-color;
      }
    }

    &--item {
      &:not(:last-child) {
        margin-right: 18px;
      }
    }
  }

  &__socials {
    display: flex;

    &--item {
      &:not(:last-child) {
        margin-right: 37px;
      }
    }
  }

  &__bottom {
    padding: 23px 15% 25px 15%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(212, 212, 212, 1);

    &--left {
      display: flex;
    }
  }

  &__paragraph {
    color: rgba(114, 110, 110, 0.7);
    margin: 0;

    & br {
      display: none;
    }

    &--color {
      color: rgba(114, 110, 110, 1);
    }

    &--sub {
      color: rgba(114, 110, 110, 1);
      margin-right: 23px;
    }
  }
}

@media (max-width: 1550px) {
  .footer {
    &__top {
      padding-left: 10%;
      padding-right: 10%;
    }

    &__bottom {
      padding-left: 10%;
      padding-right: 10%;
    }
  }
}

@media (max-width: 1300px) {
  .footer {
    &__top {
      padding-left: 5%;
      padding-right: 5%;
    }

    &__bottom {
      padding-left: 5%;
      padding-right: 5%;
    }
  }
}

@media (max-width: 1150px) {
  .footer {
    &__top {
      padding: 108px 0 0 0;

      &--holder {
        padding-left: 5%;
        padding-right: 5%;
        margin-bottom: 70px;
        align-items: center;
      }

      &--links {
        flex-direction: column;
        align-items: center;
      }
    }

    &__socials {
      // margin-top: 78px;

      &--item {
        margin-top: 0;
      }
    }

    &__mobile {
      padding: 35px 0;
    }
  }
}

@media (max-width: 875px) {
  .footer {
    &__top {
      padding-top: 61px;
    }

    &__navigation {
      flex-direction: column;

      & div {
        display: flex;

        &:first-child {
          margin-bottom: 25px;
          margin-right: 0;
        }
      }

      &--item {
        text-align: center;

        &:not(:last-child) {
          margin-right: 30px;
        }
      }
    }

    &__mobile {
      width: 100%;
      justify-content: center;
      border-top: 1px solid rgba(212, 212, 212, 1);
      margin-top: 65px;
    }

    &__bottom {
      padding-top: 22px;
      padding-bottom: 21px;
      flex-direction: column-reverse;
      align-items: center;

      &--left {
        margin-top: 10px;
      }
    }
  }
}

@media (max-width: 600px) {
  .footer {
    &__top {
      padding-top: 43px;

      &--holder {
        padding: 0;
        padding-bottom: 29px;
        margin-bottom: 45px;
        flex-direction: column;
        border-bottom: 1px solid #d4d4d4;
      }
    }

    &__location {
      margin-top: 29px;
    }

    &__tablet {
      display: none !important;
    }

    &__mobile {
      margin-top: 50px;

      &--holder {
        display: flex !important;

        &:not(:last-child) {
          margin-bottom: 34px;
        }
      }
    }

    &__navigation {
      &--item {
        &:not(:last-child) {
          margin-right: 24px;
        }
      }
    }

    &__bottom {
      flex-direction: column;
      padding: 0;

      &--left {
        margin-top: 0;
        padding: 23px 0 27px 0;
        width: 100%;
        justify-content: center;
        border-bottom: 1px solid #d4d4d4;
      }

      & div {
        &:last-child {
          padding: 13px 0 17px 0;
          text-align: center;
        }
      }
    }

    &__paragraph {
      &--sub {
        margin-right: 30px;
      }

      & br {
        display: block;
      }
    }
  }
}
