.header {
  padding: 0 15% 0 15%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
  top: 0;
  width: 100%;
  box-sizing: border-box;

  &-mobile {
    &__arrow {
      cursor: pointer;
      transition: 0.4s ease-in-out;

      &.active {
        transform: rotate(180deg);
      }
    }
  }

  &__logo {
    display: flex;
    margin-top: 35px;
    width: 251px;
    height: 73.43px;

    &.active {
      display: none;
    }

    &--mobile {
      width: 251px;
      height: 73.43px;
      display: none;

      & > img {
        width: 100%;
      }

      &.active {
        display: block;
        margin-left: 15%;
        margin-top: 0;
      }
    }
  }

  &__hamburger {
    display: none;
  }

  &__close {
    display: none;
    position: absolute;
    top: 40px;
    right: 30px;
    border: none;
    background-color: unset;

    &:focus {
      outline: none;
    }

    &.active {
      display: block;
    }
  }

  &__navigation {
    display: flex;

    &--mobile {
      display: none;
    }
  }

  &__item {
    padding: 16px 21px 17px 21px;
    height: 49px;
    display: flex;
    align-items: center;

    &--drop {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      height: fit-content;
      background-color: #f9f9fb;
      padding-right: 0 !important;

      &.active {
        display: none;
      }

      & div {
        border-left: 1px solid #e4e4e4;
        width: 100%;

        & a {
          padding-left: 20px !important;

          &:hover {
            color: #082840;
          }
        }
      }
    }

    &--mobile {
      padding-left: 40px;
      padding-right: 38px;
      color: $black-color;

      &--third {
        padding-right: 0;
        font-size: 15px;
      }
    }
  }

  &__color {
    height: 100%;
    padding-top: 51px;
  }

  &__sub {
    margin-top: 17.5px;
    height: 100%;
  }

  &__link {
    font-family: "Montserrat-SemiBold", sans-serif;
    color: $white-color;
    text-transform: uppercase;

    &:hover {
      color: $white-color;
    }

    &.active {
      color: $black-color;
    }
  }

  .dropdown-toggle {
    padding: 16px 21px 17px 21px;

    &:focus {
      box-shadow: none;
      border-radius: 0;
    }

    &::after {
      display: none;
    }

    & > svg {
      margin-left: 7px;
      transition: 0.4s ease-in-out;

      &.active {
        transform: rotate(180deg);
      }
    }
  }

  .dropdown-toggle[aria-expanded="true"] {
    background: #01e0d8;
  }

  .dropdown-menu {
    padding: 0;
    border: none;
    border-radius: 0;
    background: #01e0d8;
    margin: 0;
  }

  .dropdown-item {
    width: 285px;
    height: 49px;
    display: flex;
    align-items: center;
    padding: 0 0 0 21px;
    font-family: "Montserrat-SemiBold", sans-serif;
    color: $white-color;
    text-transform: uppercase;
    font-size: 14px;

    &:hover {
      background-color: $button-background;
      color: $black-color;
    }
  }

  &__button {
    font-family: "Montserrat-SemiBold", sans-serif;
    width: 169px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $black-color;
    background-color: $button-background;
    border-radius: 5px;
    text-transform: uppercase;
    margin-top: 38px;

    &--holder {
      display: flex;
      justify-content: center;
      display: none;
    }

    &:hover {
      color: $black-color;
    }
  }

  &__hr {
    background-color: #e4e4e4;
    width: unset;
    margin: 32.5px 40px 26px 40px;
    display: none;

    &--sub {
      margin-top: 15px;
    }
  }
}

@media (max-width: 1550px) {
  .header {
    padding-left: 10%;
    padding-right: 5%;
  }
}

@media (max-width: 1300px) {
  .header {
    padding-left: 5%;
  }
}

@media (max-width: 1150px) {
  .header {
    &__hr {
      &--holder {
        width: 100%;
      }
    }

    &__navigation {
      display: none;

      &--mobile {
        &.active {
          display: block;
          display: flex;
          flex-direction: column;
          width: 100%;
        }
      }
    }

    &__link {
      &--mobile {
        &--sub {
          width: 100%;
          display: flex;
          justify-content: space-between;
        }
      }
    }

    &__hamburger {
      display: block;
      background-color: unset;
      border: none;
      position: absolute;
      top: 66.5px;
      right: 70px;

      &:focus {
        outline: none;
      }
    }

    &__button {
      display: none;

      &--holder {
        padding-left: 40px;
        padding-right: 40px;
        width: 100%;
        height: 46px;

        &.active {
          display: flex;
        }
      }

      &--mobile {
        text-transform: uppercase;
        color: #00bca5;
        background: rgba(0, 255, 224, 0.3);
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        font-family: "Montserrat-SemiBold", sans-serif;
      }

      &.active {
        display: block;
      }
    }

    &.active {
      height: 100vh;
      width: 90vw;
      position: fixed;
      top: 0;
      background-color: $white-color;
      z-index: 3;
      align-items: flex-start;
      flex-direction: column;
      justify-content: flex-start;
      padding-left: 0;
      padding-right: 0;
      padding-top: 32px;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 2;
  transition: all 0.5s;

  &.hidden {
    display: none;
  }
}

@media (max-width: 600px) {
  .header {
    padding-top: 20px;

    &__logo {
      margin-top: 0;
      width: 157px;
      height: 45.93px;

      & img {
        width: 157px;
        height: 45.93px;
      }

      &--mobile {
        height: fit-content;
      }
    }

    &__hamburger {
      top: 26px;
      right: 25px;
    }

    &__close {
      top: 28px;
    }
  }
}
