@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Italic";
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Montserrat/Montserrat-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-SemiBold";
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Gotham-Medium";
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Gotham/GothamMedium.ttf") format("truetype");
}

@font-face {
  font-family: "Gotham-Bold";
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Gotham/GothamBold.ttf") format("truetype");
}
