*,
::before,
::after {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background-color: rgba(246, 249, 250, 1);
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  border: none;

  &:focus {
    outline: 0;
  }
}

p {
  margin: 0;
}

a {
  text-decoration: none !important;
}
