.schedule-hero {
  background-image: url("../images/home/hero-background.png");
  background-position: center bottom;
  background-size: cover;
  height: 473px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5%;
  text-align: center;

  &__heading {
    font-family: "Montserrat-SemiBold", sans-serif;
    font-size: 18px;
    color: #00ffe0;
    margin: 0;

    &--main {
      font-family: "Gotham-Bold", sans-serif;
      font-size: 35px;
      color: $white-color;
      margin-bottom: 25px;

      & br {
        display: none;
      }
    }
  }

  &__paragraph {
    color: $white-color;
  }
}

@media (max-width: 875px) {
  .schedule-hero {
    background-image: url("../images/schedule/hero.png");
    background-position: center bottom;
    background-size: cover;
  }
}

@media (max-width: 600px) {
  .schedule-hero {
    justify-content: flex-start;
    padding-top: 98px;

    &__heading {
      font-size: 16px;
      margin-bottom: 10px;

      &--main {
        font-size: 27px;
        margin-bottom: 18px;

        & br {
          display: block;
        }
      }
    }

    &__paragraph {
      width: 100%;
      font-size: 14px;
    }
  }
}
