.schedule-calendar {
  padding: 0 15% 154px 15%;
  margin-top: -151px;
  display: flex;
  justify-content: center;

  &__image {
    max-width: 100%;
  }
}

.template-schedule-data {
  .footer {
    background-color: $white-color;
  }
}

@media (max-width: 1550px) {
  .schedule-calendar {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media (max-width: 1300px) {
  .schedule-calendar {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media (max-width: 875px) {
  .schedule-calendar {
    padding-bottom: 88px;
  }
}
