.error404 {
  .header {
    z-index: 1;
  }

  .footer {
    position: relative;
  }
}

.page-404 {
  background-image: url("../images/404/background.png");
  background-position: center;
  background-size: cover;
  height: 777px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;

  &__holder {
    z-index: 1;
  }

  &__image {
    max-width: 100%;
    margin-bottom: 29px;
  }

  &__heading {
    font-family: "Gotham-Bold", sans-serif;
    font-size: 45px;
    color: $white-color;
    margin-bottom: 38px;
  }

  &__button {
    font-family: "Montserrat-SemiBold", sans-serif;
    height: 48px;
    width: 100%;
    color: $black-color;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: $button-background;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease-in-out;

    &:hover {
      background-color: $button-background;
      color: $black-color;
    }
  }
}

@media (max-width: 875px) {
  .page-404 {
    background-image: url("../images/404/hero-tablet.png");
    background-position: left;
    background-size: cover;
    padding: 0 5%;

    &__heading {
      font-size: 36px;
      margin-bottom: 33px;
    }

    &__image {
      width: 342px;
      height: 121px;
    }
  }
}

@media (max-width: 550px) {
  .page-404 {
    &__heading {
      font-size: 32px;
    }

    &__image {
      object-fit: contain;
    }
  }
}
