.search,
.testings,
.vacines,
.wellness,
.drugs,
.prescriptions,
.covid-category,
.category,
.blog {
  .footer {
    background-color: $white-color;
  }
}

.main-blog {
  margin: auto;
  display: flex;
  padding: 0 15%;
  margin-top: -130px;
  margin-bottom: 100px;

  // & div {
  //   &:first-child {
  //     width: fit-content;
  //   }
  // }
}

@media (max-width: 1550px) {
  .main-blog {
    padding-left: 10%;
    padding-right: 5%;
  }
}

@media (max-width: 1300px) {
  .main-blog {
    padding-left: 5%;
  }
}

@media (max-width: 875px) {
  .main-blog {
    flex-direction: column;
    margin-top: -90px;
    margin-bottom: 67px;
    padding: 0 10%;
  }
}

@media (max-width: 600px) {
  .main-blog {
    padding-right: 0;
    padding-left: 0;
    margin-top: -130px;
    margin-bottom: 48px;
  }
}
