.blog-aside {
  padding: 43px 49px 57px 49px;
  box-shadow: 0 20px 50px -10px rgba(8, 40, 64, 0.05);
  background-color: $white-color;
  width: 369px;
  height: fit-content;

  .form-search {
    margin-top: 30px;
    margin-bottom: 44px;
    position: relative;
    display: flex;
    justify-content: space-between;

    &__input {
      border: none;
      border-bottom: 1px solid rgba(241, 241, 241, 1);
      width: 100%;

      &:focus {
        outline: none;
      }
    }

    &__button {
      cursor: pointer;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(138.15deg, #00ffe0 3.32%, #00bca5 97.39%);
      border: none;
      border-radius: 0;
    }
  }

  .post-thumbnail {
    width: 60px;
    height: 71px;
  }

  &__heading {
    font-family: "Gotham-Bold", sans-serif;
    font-size: 25px;
    color: #082840;

    &--sub {
      margin-bottom: 0;
    }

    &--main {
      color: #082840;
      font-size: 16px;
      margin: 0;
    }
  }

  &__paragraph {
    color: #303030;
    margin: 23px 0 33px 0;
  }

  &__navigation {
    margin-top: 49px;
    margin-bottom: 43px;
  }

  &__single {
    display: flex;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 41px;
    }
  }

  &__holder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__date {
    color: #c4c4c4;
  }

  &__category {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px 11px;
    margin-top: 33px;
    margin-bottom: 40px;
  }

  &__item {
    background: $white-color;
    box-shadow: 0 8px 30px rgba(8, 40, 64, 0.08);
    width: 126px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__link {
    color: #00ffe0;
    font-family: "Gotham-Medium", sans-serif;

    &:hover {
      color: #00ffe0;
    }
  }

  & label {
    display: none;
  }

  input.tnp-email {
    background-color: unset;
    border-bottom: 1px solid rgba(241, 241, 241, 1);

    &:focus {
      outline: none;
    }
  }

  div.tnp-field {
    display: flex;
    justify-content: center;
  }

  input.tnp-submit {
    width: 270px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00bca5;
    background: rgba(0, 255, 224, 0.3);
    border-radius: 5px;
    font-weight: 600;
    margin-top: 41px;
  }
}

@media (max-width: 1150px) {
  .blog-aside {
    height: fit-content;
  }
}

@media (max-width: 875px) {
  .blog-aside {
    width: 100%;

    .tnp-subscription {
      max-width: unset;
    }

    &__category {
      grid-template-columns: repeat(3, 1fr);
      gap: 12px 14px;
    }

    &__item {
      width: 100%;
    }

    &__single {
      justify-content: flex-start;
    }

    &__holder {
      margin-left: 23px;
    }

    div.tnp-field {
      justify-content: flex-start;
    }
  }
}

@media (max-width: 600px) {
  .blog-aside {
    width: 90%;
    margin: auto;
    padding: 43px 32px 57px 32px;

    &__category {
      grid-template-columns: repeat(2, 1fr);
    }

    &__paragraph {
      margin-bottom: 0;
    }
  }
}
