.blog-hero {
  text-align: center;
  background-image: url("../images/home/hero-background.png");
  background-position: center bottom;
  background-size: cover;
  height: 473px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__heading {
    font-family: "Montserrat-SemiBold", sans-serif;
    font-size: 18px;
    color: $button-background;
    margin: 0;

    &--main {
      font-family: "Gotham-Bold", sans-serif;
      font-size: 35px;
      color: $white-color;
      margin-bottom: 20px;

      & br {
        display: none;
      }
    }
  }

  &__paragraph {
    color: $white-color;
    width: 40%;
    margin: 0 auto;
  }
}

@media (max-width: 1200px) {
  .blog-hero {
    &__paragraph {
      width: 80%;
    }
  }
}

@media (max-width: 875px) {
  .blog-hero {
    background-image: url("../images/blog/hero.png");
    background-position: center bottom;
    background-size: cover;
    height: 470.75px;

    &__heading {
      &--main {
        & br {
          display: block;
        }
      }
    }

    &__paragraph {
      width: 90%;
    }
  }
}

@media (max-width: 600px) {
  .blog-hero {
    justify-content: flex-start;
    padding-top: 100px;

    &__heading {
      font-size: 16px;
      margin-bottom: 10px;

      &--main {
        font-size: 27px;
        margin-bottom: 18px;
      }
    }

    &__paragraph {
      width: 85%;
      font-size: 14px;
    }
  }
}
