.post-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 48px 26px;
  margin-right: 56px;

  &__item {
    background-color: $white-color;
    box-shadow: 0 20px 50px -10px rgba(8, 40, 64, 0.05);
    height: fit-content;
  }

  &__content {
    padding-left: 42px;
    padding-bottom: 20px;
  }

  &__thumbnail {
    max-width: 100%;
    width: 100%;
    height: 181px;
    object-fit: cover;

    &--holder {
      margin-bottom: 27px;
      position: relative;
    }
  }

  &__image {
    position: absolute;
    right: 41px;
    bottom: -24px;
    cursor: pointer;
  }

  &__heading {
    color: $black-color;
    font-size: 24px;
    margin-bottom: 8px;
    font-family: "Gotham-Bold", sans-serif;

    &:hover {
      color: $black-color;
    }
  }

  &__paragraph {
    color: #726e6e;
    font-size: 15px;
    padding-right: 41px;
  }

  &__holder {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e8e8e8;
    padding: 17px 41px 22px 42px;
    color: #00bca5;
  }
}

.single-post {
  body {
    background-color: $white-color;
  }

  .footer {
    margin-top: 185px;
  }
}

.post-template-default {
  background-color: $white-color;

  .footer {
    background-color: #f9f9f9;
  }
}

.single-blog-post {
  padding: 0 15%;
  display: flex;
  justify-content: space-between;
  margin-top: -120px;

  &__content {
    width: 60%;
    margin-right: 56px;
    box-shadow: 0 20px 50px -10px rgba(8, 40, 64, 0.05);
    height: fit-content;

    & p {
      color: #726e6e;
      font-size: 15px;
    }
  }

  &__aside {
    width: fit-content;
  }

  .alignnone {
    width: 100%;
    margin-bottom: 77px;
    box-shadow: 0 25px 100px -10px rgba(0, 0, 0, 0.08);
  }
}

.blog-pagination {
  margin: 75px 0 0 0;

  &__link {
    font-family: "Gotham-Medium", sans-serif;
    width: 48px;
    height: 48px;
    border-radius: 5px;
    font-size: 22px;
    color: $black-color;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    transition: 0.4s ease-in-out;

    &:hover {
      background: linear-gradient(138.15deg, #00ffe0 3.32%, #00bca5 97.39%);
      color: $white-color;
    }

    &--previous,
    &--next {
      background: rgba(0, 255, 224, 0.3);
      width: 48px;
      height: 48px;
      border-radius: 5px;
      transition: 0.3s ease-in-out;

      &:hover {
        background: rgba(0, 255, 224, 1);

        & path {
          stroke: $white-color;
        }
      }
    }
  }
}

@media (max-width: 1550px) {
  .single-blog-post {
    padding: 0 5% 0 10%;
  }
}

@media (max-width: 1550px) {
  .single-blog-post {
    padding: 0 5% 0 5%;
  }
}

@media (max-width: 1150px) {
  .post-list {
    grid-template-columns: 1fr;
    margin-right: 40px;
    gap: 56px;
  }
}

@media (max-width: 875px) {
  .post-list {
    margin-right: 0;

    &__item {
      width: 431px;
      margin: auto;
    }
  }

  .blog-pagination {
    margin: 72px 0 74px 0;

    .pagination {
      justify-content: center;
    }
  }

  .single-blog-post {
    flex-direction: column;

    &__content {
      margin-right: 0;
      margin: auto;
      margin-bottom: 74px;
    }
  }

  .post-template-default {
    .footer {
      margin-top: 61px;
    }
  }
}

@media (max-width: 600px) {
  .single-blog-post {
    padding: 0;

    &__content {
      width: 90%;
    }
  }

  .blog-pagination {
    margin: 52px 0 50px 0;
  }

  .post-list {
    gap: 43px;
    padding-left: 5%;

    &__item {
      width: 100%;
    }

    &__content {
      padding-left: 35px;
    }

    &__holder {
      padding: 14px 34px 19px 35px;
      font-size: 14px;
    }

    &__thumbnail {
      height: 152px;
      object-fit: cover;

      &--holder {
        margin-bottom: 20px;
        width: 100% !important;
      }
    }

    &__heading {
      font-size: 18px;
    }

    &__paragraph {
      font-size: 14px;
      padding-right: 22px;
    }
  }

  .post-template-default {
    .footer {
      margin-top: 57px;
    }
  }
}
