.thank-you-hero {
  height: 777px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15%;
  background-image: url("../thank-you/background.png");
  background-size: cover;
  background-position: center;

  &__heading {
    font-family: "Gotham-Bold", sans-serif;
    font-size: 67px;
    color: $white-color;
    margin-bottom: 20px;
  }

  &__paragraph {
    color: $white-color;
    font-size: 18px;
    margin-bottom: 44px;
    width: 35%;
  }

  &__button {
    font-weight: 600;
    width: 426px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white-color;
    background: rgba(0, 255, 224, 0.3);
    border-radius: 5px;
    text-transform: uppercase;
    transition: 0.4s ease-in-out;

    &:hover {
      background-color: $button-background;
      color: $black-color;
    }
  }
}

@media (max-width: 1550px) {
  .thank-you-hero {
    padding-left: 10%;
  }
}

@media (max-width: 1300px) {
  .thank-you-hero {
    padding-left: 5%;
  }
}

@media (max-width: 875px) {
  .thank-you-hero {
    background-image: url("../thank-you/tablet-background.png");
    justify-content: flex-start;
    padding-top: 160px;

    &__paragraph {
      width: 80%;
      margin-bottom: 34px;
    }
  }
}

@media (max-width: 600px) {
  .thank-you-hero {
    padding-top: 89px;
    height: 627px;

    &__heading {
      font-size: 48px;
    }

    &__paragraph {
      width: 95%;
      font-size: 14px;
    }

    &__button {
      width: 95%;
    }
  }
}
