.covid-battle {
  padding: 52px 0 127px 0;
  text-align: center;

  &__heading {
    font-family: "Montserrat-SemiBold", sans-serif;
    font-size: 18px;
    color: #00bca5;
    margin-bottom: 7px;

    &--main {
      font-family: "Gotham-Bold", sans-serif;
      font-size: 35px;
      color: $black-color;
      margin-bottom: 32px;
    }
  }

  &__text {
    color: #726e6e;
    width: 50%;
    margin: auto;
    margin-bottom: 0;

    &--first {
      margin-bottom: 25px;
    }
  }

  &__holder {
    border-top: 1px solid $button-background;
    margin-top: 60px;
    position: relative;
  }

  &__navigation {
    padding-top: 127px;
    display: flex;
    justify-content: center;
  }

  &__contact {
    width: 298px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #acfbf2;
    color: #00bca5;
    font-weight: 600;
    border-radius: 5px;
    position: absolute;
    top: -24px;
    left: 50%;
    transform: translateX(-50%);

    &:hover {
      color: #00bca5;
    }
  }

  &__item {
    width: 581px;
    background-color: $white-color;
    box-shadow: 0 20px 50px -10px rgba(8, 40, 64, 0.05);

    &:not(:last-child) {
      margin-right: 53px;
    }

    &--top {
      display: flex;
      align-items: center;

      & div {
        width: 100%;
      }
    }

    &--bottom {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__title {
    font-family: "Gotham-Bold", sans-serif;
    font-size: 24px;
    margin: 0;
  }

  &__button {
    width: 486px;
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90.25deg, #00ffe0 -7.55%, #00bca5 106.31%);
    color: $white-color;

    &:hover {
      color: $white-color;
    }
  }
}

@media (max-width: 1250px) {
  .covid-battle {
    &__navigation {
      flex-direction: column;
      align-items: center;
    }

    &__item {
      margin-right: 0 !important;

      &:last-child {
        margin-top: 45px;
      }
    }

    &__text {
      width: 80%;
    }
  }
}

@media (max-width: 1050px) {
  .covid-battle {
    &__item {
      width: 80%;
    }

    &__button {
      margin-left: 95px;
      width: 100%;
    }
  }
}

@media (max-width: 875px) {
  .covid-battle {
    padding-bottom: 84px;

    &__navigation {
      padding-top: 83px;
    }
  }
}

@media (max-width: 600px) {
  .covid-battle {
    padding-top: 44px;
    padding-bottom: 61px;

    &__text {
      width: 90%;
      font-size: 14px;
    }

    &__contact {
      width: 90%;
      height: 42px;
    }

    &__heading {
      font-size: 14px;
      margin-bottom: 10px;

      &--main {
        font-size: 27px;
        margin-bottom: 18px;
        white-space: unset;
      }
    }

    &__navigation {
      padding-top: 75px;
    }

    &__item {
      margin-right: auto !important;
      width: 95%;
    }
  }
}
